*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
  z-index: 1;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.blue {
  color: #256CFF;
}

li {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 11px;
  margin-bottom: 6%;
  margin-top: 50px;
}
.header-logo {
  display: flex;
  align-items: center;
  flex-basis: 10%;
}
.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 45%;
}
.header-list-wrapper {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  margin: 0;
  padding: 0;
}
.header-list__item {
  list-style-type: none;
  font-weight: normal;
  font-size: 20px;
}
.header-list__item:hover {
  color: #256CFF;
}
.header-burder-menu {
  display: flex;
  flex-basis: 33%;
}

.hero {
  display: flex;
}
.hero-text {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.hero-text-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero-text-block {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.hero-text-block:nth-child(3) {
  margin-top: 60px;
}
.hero-text-block:nth-child(4) {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.hero-text-description {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 22px;
}
.hero-text-title {
  font-weight: bold;
  font-size: 50px;
  color: #256CFF;
  margin-bottom: 27px;
}
.hero-text-subtitle {
  font-weight: normal;
  font-size: 18px;
  max-width: 241px;
}
.hero-text-video {
  margin-top: 60px;
  display: flex;
  flex-basis: 50%;
}
.hero-text-video-text {
  margin-left: 57px;
}
.hero-video-text {
  margin-left: 41px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.hero-image {
  position: relative;
  z-index: 2;
}
.hero-image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 329px;
  height: 208px;
  background-image: url("../img/BMW_328.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.hero-image-text {
  display: flex;
  flex-direction: column;
}
.hero-image-description {
  color: #256CFF;
  text-align: right;
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 4px;
}
.hero-image-title {
  color: #256CFF;
  text-align: right;
  font-weight: 900;
  font-size: 54px;
}
.hero-image-translate {
  position: relative;
  z-index: 2;
}
.hero-image-translate::after {
  content: "";
  position: absolute;
  right: -250px;
  top: 47%;
  width: 453px;
  height: 164px;
  background-image: url("../img/BlueLine.png");
  background-repeat: no-repeat;
}
.hero-image__img {
  max-width: 700px;
  position: relative;
  z-index: 1;
}

.footer-author {
  position: fixed;
  bottom: 19px;
}
.footer-author-designer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 153.4%;
  display: flex;
  align-items: center;
  color: #0066B1;
}
.footer-author-normal {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 153.4%;
  display: flex;
  align-items: center;
  color: #0066B1;
}

.header-burger-wrapper {
  height: 50px;
  width: 50px;
}
.header-burger-menu {
  background-color: #2172f9;
  width: 34px;
  height: 2px;
  position: relative;
  top: 30px;
}
.header-burger-menu::after, .header-burger-menu::before {
  content: "";
  width: 34px;
  height: 2px;
  background-color: #2172f9;
}
.header-burger-menu::before {
  position: absolute;
  bottom: 10px;
}
.header-burger-menu::after {
  position: absolute;
  top: 10px;
}
.header-burger-active {
  background-color: #E5E5E5;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 23px;
  right: 35px;
  border-radius: 50%;
  z-index: 30 !important;
}
.header-burger-active::after, .header-burger-active::before {
  content: "";
  width: 34px;
  height: 2px;
  background-color: #2172f9;
  bottom: 23px;
  left: 8px;
}
.header-burger-active::before {
  position: absolute;
  transform: rotate(-45deg);
}
.header-burger-active::after {
  position: absolute;
  transform: rotate(45deg);
}

.menu-block {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  background: #EFEFEF;
  height: 100vh;
  width: 25vw;
  z-index: 20 !important;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  color: #0066B1;
  padding-left: 31px;
  padding-top: 114px;
}

.list-menu {
  max-width: 210px;
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}
.list-menu:nth-child(4) {
  justify-content: center;
  flex-basis: 35%;
}
.list-menu-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 16px;
}
.list-menu__input {
  background-color: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid #0066B1;
  color: inherit;
  transition: 0.2s;
  margin-bottom: 28px;
  padding-bottom: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0, 102, 177, 0.5);
}
.list-menu__input:hover {
  border-color: #0066B1;
  padding: 10px;
  border-radius: 5px;
}
.list-menu__input:focus {
  outline: none;
  border: 2px solid #0066B1;
  border-radius: 5px;
  padding: 5px;
  transition: 0.2s;
}
.list-menu__btn {
  background: #0066B1;
  border-radius: 28px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 11px 11px;
}

.item-menu {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-top: 16px;
}/*# sourceMappingURL=style.css.map */